<h2>Store List</h2>
<div *ngFor="let store of stores">
  <h4 (click)="select(store.name)">{{store.name}}</h4>
  <ul>
    <li>{{store.hideCompleted}}</li>
  </ul>
  <button (click)="delete(store.name)">Delete store</button>
</div>
<div>
  <form [formGroup]="addStoreForm" (ngSubmit)="onSubmit(addStoreForm.value)">
    <input type="text" placeholder="store name" formControlName="storeName" required minlength="3">
    <button type="submit" [disabled]="!addStoreForm.valid">Add new store</button>
  </form>
</div>