<div>
  <h2>{{store.name}}</h2>
  <div *ngFor="let item of items">
    <h4>{{item.name}}</h4>
    <ul>
      <li>{{item.completed}}</li>
      <li>{{item.storeId}}</li>
    </ul>
    <button (click)="delete(item)">Delete item</button>
  </div>
  <div>
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit(addItemForm.value)">
        <input type="text" placeholder="item name" formControlName="itemName" required minlength="2">
        <button type="submit" [disabled]="!addItemForm.valid">Add new item</button>
      </form>
  </div>
</div>